<a href="https://colab.research.google.com/github/BhoomikaSheth/PythonBasicNotes/blob/main/Python2_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data types, Type function,  Data type conversions, Operators, If statements

Variable:
entitites that store data. A varibale name has rules:
1. vari name should be meaningful
2. vari name should have alphabets/numbers/_(underscore)
3. vari name should always start with alphabet/_(underscore)
4. Variable name should not be any python keyword.

In [ ]:
name=input("enter your name :")
print("HI,",name)

enter your name :xyz
HI,xyz

varibale can be of type:
1. string
2. int
3. float
4. bool
5. list
6. tuple
7. dict
8. Set and frozenset

In [ ]:
name="xyz"      # string
age=25           #int
weight=50.6      #float
gender=True      #boolean
shopping_list=["milk",65,"khga",63.25,False]       #list
print(name,age,weight,gender,shopping_list)  # list can have all values either of same data type or different
# you can pass n number of values within [] of a list

xyz 25 50.6 True ['milk', 65, 'khga', 63.25, False]

In [ ]:
marks = [78,85,65,74,68]
marks # list is storing a group of data within [] seperated by , in one variable

[78, 85, 65, 74, 68]

In [ ]:
type(marks)

list

In [ ]:
type(name)

str

In [ ]:
print(type(gender))
type(shopping_list)

<class 'bool'>

list

In [ ]:
print(type(age),type(weight))

<class 'int'> <class 'float'>

Data Type conversion:
1. int
2. float
3. str
4. bool
5. list
6. tuple
7. dict

In [ ]:
mark = input("Enter your marks:")
print(mark)

Enter your marks:54
54

In [ ]:
v1="Hello"
v2="Students"
v1+v2

'HelloStudents'

In [ ]:
internal_mark = 25
mark+internal_mark

TypeError: ignored

In [ ]:
type(internal_mark)

int

In [ ]:
type(mark)

str

In [ ]:
external_mark=60
external_mark+internal_mark

85

In [ ]:
#"25" is different from 25

In [ ]:
mark = int(mark)
type(mark)   # input function by default gives data as str only. if you want to apply any mathematical/logical operation
# on it then you have to convert it to int or float

int

In [ ]:
print(external_mark,type(external_mark))
external_mark=float(external_mark)
print(external_mark,type(external_mark))

60 <class 'int'>
60.0 <class 'float'>

In [ ]:
num1 = input("Enter a number:")
num1=int(num1)
print(num1,type(num1))

num2 = int(input("Enter a number:"))
print(num2,type(num2))

Enter a number:57
57 <class 'int'>
Enter a number:75
75 <class 'int'>

In [ ]:
temp1="68.3"+"10"
temp2=float(temp1)+10
print(type(temp2))
print(temp1,temp2)

<class 'float'>
68.310 78.31

input function gives any data in form of string only. you need to convert that data to int/float if you want to perform any mathematical operations

In [ ]:
num1=input("Enter no 1:")
num2=input("Enter no 2:")
result=num1+num2
print(result)

Enter no 1:10
Enter no 2:20
1020

In [ ]:
num1=int(input("Enter no 1:"))
num2=int(input("Enter no 2:"))
result=num1+num2
print(result)

Enter no 1:10
Enter no 2:20
30

operators------performs some operation on data
1. assignemt =    rhs to lhs
2. arithmetic + - * / % // **
        // floor division, ans without decimal point
        % remainder
        / actual ans
        ** power
3. logical and, or, not
4. conditional <, >, <=, >=, ==, !=
5. bitwise ~, ^, & ,| ,<< ,>>
6. membership in , not in
7. Identity operator is, not is

In [ ]:
num1=20
num2=30
print(num1+num2,num1-num2,num1*num2,num1/num2)
print(5/2, 5//2, 5%2)
print(5**3, 2**10)

50 -10 600 0.6666666666666666
2.5 2 1
125 1024

In [ ]:
#write a program to find interest for given P,R,T 
#i= prt/100
p=input("Enter your principal/base amount:\t")
r=input("Enter your rate of interest:\t")
t=input("Enter your time period:\t")
p=float(p)
r=float(r)
t=float(t)#p=int(p)
i=(p*r*t)/100
print("SImple interest is",i)

Enter your principal/base amount:	5000
Enter your rate of interest:	10
Enter your time period:	1
SImple interest is 500.0

In [ ]:
p=float(input("Enter your principal/base amount:\t"))
r=float(input("Enter your rate of interest:\t"))
t=float(input("Enter your time period:\t"))
print("Simple interest is",(p*r*t)/100)

Enter your principal/base amount:	100
Enter your rate of interest:	20
Enter your time period:	1
Simple interest is 20.0

In [ ]:
# write a program to calculate area of a square for given length
l=int(input("Enter your length:"))
a=l*l
print(a)

Enter your length:5
25

In [ ]:
# write a program to find percentage for given total marks
marks = int(input("Enter marks obtained: "))
total = int(input("Enter total marks obtainable: "))
print("Your percentage is :" , marks*100/total)

Enter marks obtained: 754
Enter total marks obtainable: 800
Your percentage is : 94.25

In [ ]:
# write a program to find total marks for 3 subjects
sub_1 = int(input("Enter marks of first subject: "))
sub_2 = int(input("Enter marks of second subject: "))
sub_3 = int(input("Enter marks of third subject: "))
print("Total marks of the three subjects are: ", (sub_1 + sub_2 + sub_3))

Enter marks of first subject: 74
Enter marks of second subject: 85
Enter marks of third subject: 96
Total marks of the three subjects are:  255

In [ ]:
# write a program to find perimeter and area of a triangle, area=0.5*base*height    perimeter=a+b+c
side_1 = int(input("Enter length of first side"))
side_2 = int(input("Enter length of second side"))
side_3 = int(input("Enter length of third side"))

perimeter = side_1 + side_2 + side_3
s = perimeter/2

area = (s*(s-side_1)*(s-side_2)*(s-side_3))**0.5   # heron's formula

print("The area is", area)
print("The perimeter is", perimeter)

Enter length of first side4
Enter length of second side3
Enter length of third side5
The area is 6.0
The perimeter is 12

In [ ]:
#write a program to convert Farenhiet to Celcius F − 32 × 5/9 
fahrenheit = int(input("Enter temperature in Fahrenheit: "))
celsius = (fahrenheit-32)*(5/9)
print("The temperature in Celsius is: ", celsius)

Enter temperature in Fahrenheit: 98
The temperature in Celsius is:  36.66666666666667

1. declarative
2. calculative
3. control flow----- statement(if, if else, if ladder,nested if) and loops(for, while)

        if condition:
            work1
            work2
            work2


        if condition:
            work 1
            work2
            work3
        else:
            work4
            work5
            work6

        if conditon1:
            work 1
            work2
        elif condtion2:
            work 3
            work 4
        elif conditon 3:
            work 5
            work6
        ..... n conditon
        else:
            work n-1
            work n
         
        if conditon1:
            if condtion 2:
                if conditon3:
                .....n  conditons
                else:

            else:

In [ ]:
# even or odd
num=int(input("enter a number:"))
if num%2 == 0:
    print("even")

enter a number:30
even

In [ ]:
# even or odd
num=int(input("enter a number:"))
if num%2 == 0:
    print("even")

enter a number:25

In [ ]:
# even or odd
num=int(input("enter a number:"))
if num%2 == 0:
    print("even")
else:
    print("odd")

enter a number:25
odd

In [ ]:
# calculator on basis of given operator
num1=int(input("enter a number1:"))
num2=int(input("enter a number2:"))
op=input("enter operator:")
if op == "+":
    print(num1+num2)
elif op=="-":
    print(num1-num2)
elif op=="*":
    print(num1*num2)
elif op=="/":
    print(num1/num2)

enter a number1:60
enter a number2:30
enter operator:.

In [ ]:
num1=int(input("enter a number1:"))
num2=int(input("enter a number2:"))
op=input("enter operator:")
if op == "+":
    print(num1+num2)
elif op=="-":
    print(num1-num2)
elif op=="*":
    print(num1*num2)
elif op=="/":
    print(num1/num2)
else:
    print("invalid operator")

enter a number1:20
enter a number2:30
enter operator:/
0.6666666666666666