<a href="https://colab.research.google.com/github/BhoomikaSheth/PythonBasicNotes/blob/main/Python_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP

⦁	Object Oriented Programming (OOP) is a design methodology used for developing large software. OOP allows us to break our problems into small units of work called objects and then we build functions around those objects.
⦁	This enables us to create reusable code and remove unnecessary or redundant code. That is why this concept is also known as DRY (Don't Repeat Yourself).
⦁	The four principles of OOP are:
⦁	Inheritance
⦁	Polymorphism
⦁	Abstraction
⦁	Encapsulation


The first letter of the name of a class must always be capital.

In [1]:
class MT:
  pass
obj=MT()

In [2]:
class Mobile:
  length=6   # attributes or class variables
  height=0.5
  width=4
  def call(number):
    return "processed call"
  def take_picture():
    print("open cam app")
    return "clicked picture"
phone1=Mobile()  # phone1 is my object
phone1.length

6

In [3]:
phone1.call(1234)

TypeError: ignored

In [4]:
class Mobile:
  def __init__(self):   # constructor
    self.length=6   # attributes or class variables
    self.height=0.5
    self.width=4
  def call(self,number):
    return "processed call"
  def take_picture(self):
    print("open cam app")
    return "clicked picture"
phone1=Mobile()  # phone1 is my object
phone1.call(1234)

'processed call'

In [5]:
class Family:
  def __init__(self, first_name, last_name, age, relation):
    self.first_name = first_name
    self.last_name = last_name
    self.age = age
    self.relation = relation
  # We can also create a function, to generate the full name of a family member.
  def full_name(self):
    return self.first_name.title() + " " + self.last_name.title()
father = Family('bob', 'parr', 40, 'father')
mother = Family('helen', 'parr', 38, 'mother')
sibling_1 = Family('violet', 'parr', 14, 'sister')
sibling_2 = Family('dash', 'parr', 10, 'brother')

father.full_name()

'Bob Parr'

In [6]:
type(father)

__main__.Family

In [7]:
print(type(123))

<class 'int'>

In [8]:
print(type([23,56]))

<class 'list'>

In [9]:
class Family:
  def __init__(self, first_name, last_name, age, relation):  # instance variables
    self.first_name = first_name
    self.last_name = last_name
    self.age = age
    self.relation = relation
  # We can also create a function, to generate the full name of a family member.
  def full_name(self):
    return self.first_name.title() + " " + self.last_name.title()
  def __repr__(self):
    return "My Family class"
father = Family('bob', 'parr', 40, 'father')  # object/instance
mother = Family('helen', 'parr', 38, 'mother')
sibling_1 = Family('violet', 'parr', 14, 'sister')
sibling_2 = Family('dash', 'parr', 10, 'brother')

repr(mother)

'My Family class'

In [10]:
type(mother)

__main__.Family

In [11]:
class Bank:
  interest_rate=0.05  # class variable
  def __init__(self, first_name, last_name, account_num, uid,amount):  # instance variables
    self.first_name = first_name
    self.last_name = last_name
    self.account_num = account_num
    self.uid = uid
    self.amount = amount
  # We can also create a function, to generate the full name of a family member.
  def full_name(self):
    return self.first_name.title() + " " + self.last_name.title()
  def __repr__(self):
    return "My Family class"
  def show_balance(self):
    return self.amount

  def balance_after_interest(self):
    return self.amount+(self.amount*Bank.interest_rate) # prt/100  # Bank.interest_rate in a class variable which is being used in instance method
  
  @classmethod
  def interest(cls): 
    #amt=Bank.show_balance()
    return cls.interest_rate
cus1 = Bank('bob', 'parr', 40123456, 123456789012,5000)  # object/instance

cus1.interest(),cus1.balance_after_interest()

(0.05, 5250.0)

In [12]:
import random

class Employee:

  bonus_manager = 0.10
  bonus_developer = 0.07
  bonus_else = 0.05

  def __init__(self, first_name, last_name, salary, contact, ID, designation): 
    self.first_name = first_name
    self.last_name = last_name
    self.salary = salary
    self.contact = contact
    self.ID = ID
    self.designation = designation

  def full_name(self):
    return self.first_name.title() + " "+ self.last_name.title()
  
  def bonus(self):
    if self.designation == "Manager": 
      return self.salary * self.bonus_manager
    elif self.designation == "Developer": 
      return self.salary * self.bonus_developer
    else: 
      return self.salary * self.bonus_else

  @classmethod
  def performancereview(cls): 
    return random.randint(50, 90)




emp1 = Employee("Mark", "Sharma", 100, 85674455, 332, 'Manager')
emp1.bonus(), emp1.performancereview()

(10.0, 74)

In [13]:
class Bankaccount: 
  inr = 0.05 # Always the same 

  def __init__(self, firstname, accountnum, balance, contactnum, id): # Instance variables, keep changing
    self.__firstname = firstname
    self.__accountnumber = accountnum
    self.__balance = balance
    self.__contactnum = contactnum
    self.__id = id

  def withdraw(self, withdrawamount):
    if withdrawamount > self.__balance: 
      return "insufficient balance"
    else: 
      self.__balance = self.__balance - withdrawamount
      return "Your remaining balance is", self.balance
  
  def deposit(self, depositamount): 
    return "Your updated balance is", self.__balance + depositamount

  def interest(self, timeperiod): 
    # PRT/100
    formula = (self.__balance * Bankaccount.inr * timeperiod)/100
    updatedbalancewithinterest = self.__balance+formula
    return updatedbalancewithinterest 

  def getbalance(self): 
    return self.__balance

  def setid(self, newid): 
    self.__id = newid
  
  def getid(self): 
    return self.__id

accountholder1 = Bankaccount("Shivam", 43445676, 1000, 8756453645, "1qw3455t")
accountholder2 = Bankaccount("Shiram", 43445276, 0, 8756453645, "1qw3455t")

print(accountholder2.withdraw(100))
accountholder1.deposit(100)

insufficient balance

('Your updated balance is', 1100)

In [14]:
accountholder2.setid("7yyutwqer")

In [15]:
accountholder2.getid()

'7yyutwqer'

In [16]:
# inheritance
class Person:
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender
  
  def changename(self, newname):
    self.name = newname
    return self.name

In [17]:
class Student(Person): # inheritance
  def __init__(self, name, age, gender, grade, class_teacher, school_fee):
    Person.__init__(self, name, age, gender) 
    self.grade = grade
    self.class_teacher = class_teacher
    self.school_fee = school_fee

  def increase_school_fee(self):
    self.school_fee = self.school_fee * 1.05
    return self.school_fee

In [18]:
class Alumni(Student):  # multiple level inheritance
  def __init__(self, name, age, gender, grade, class_teacher, grad_year):
    super().__init__(name, age, gender, grade, class_teacher, school_fee = None)
    self.grad_year = grad_year

  def changename(self, newname): 
    self.name = newname + self.grad_year
    return self.name

  def __add__(self, newdata): 
    newname = ''
    if len(self.name) < len(newdata.name): #################
      for i in range(0, len(self.name)): ###############
        newname = newname + self.name[i] + newdata.name[i]##############
      return Alumni(newname,self.age,self.gender,self.grade,self.class_teacher,self.grad_year)#############
    else:
      for i in range(0, len(newdata.name)): ###############
        newname = newname + self.name[i] + newdata.name[i]##############
      return Alumni(newname,self.age,self.gender,self.grade,self.class_teacher,self.grad_year)#############

In [19]:
alumni2 = Alumni("Raj", 43, "M", 12, "RET", 2025)

In [20]:
alumni1 = Alumni("mukul", 24, 'M', 10, "RRR", "2023")
alumni1.changename('taru') # Method Overriding

'taru2023'

In [21]:
new=alumni1+ alumni2
new.name#######################

'tRaarj'