<a href="https://colab.research.google.com/github/BhoomikaSheth/PythonBasicNotes/blob/main/Python_1_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Print and Input Function**

Function: function is an entity that completes one particular task in your program. function takes some input, processes it and generates some output. a function is always denoted by (). inputs to a function are passed within these round brackets. Functions can be broadly categorized ans standard built in functions and user defined functions

## Print Function: A function used to display some data on screen

```
**syntax: ** 
print("message to be displayed on screen")
```

### Hello World Progam

A "Hello, World!" program generally is a computer program that outputs or displays the message "Hello, World!". Such a program is very simple in most programming languages, and is often used to illustrate the basic syntax of a programming language. It is often the first program written by people learning to code.

Note: python is a case sensitive language

Question: Write a program to display "Hello World" message on screen

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello world')

Hello world

Question: Write a program to display "Welcome to bank ATM on Screen" message on screen

In [ ]:
print("Welcome to bank ATM!")

Welcome to bank ATM!

Question: Write a program to display "Please wait while program is loading..." message on screen

### Empty brackets- blank line 
Empty brackets with print will leave an empty line
Try it...
Question: Write a program to print your first name in first line, leave second line empty and print your last name in third line

In [ ]:
print("Hey")
print()
print("Hello")

Hey

Hello

### Multiple inputs(arguments) in print statement can be given inside print after seperating them by comma. eg
```
print("Hello","World")
```

In [ ]:
print("Hello","Students of GEC")
# you can pass n number os arguments withi print function

Hello Students of GEC

### *\n* is a string literal that denotes new line when enclosed within single quotes and double quotes 
```
eg. print("Hello \n World")
```

will print Hello in first line and World in second line

In [ ]:
print("Hello \n World")
# \n for new line

Hello
 World

### *\t* for horizontal tab

In [ ]:
print("Hello \t world")
#\t for tab

Hello 	 world

### String Concatenation

string--- group of characters. Examples of Characters are A P , / +   _    etc

'+' operator can used with strings for string concatenation

Question: Write a program to concatenate 2 strings

In [ ]:
# String is data written within '' or ""
print("Hello"+"Students")

HelloStudents

In [ ]:
# String is data written within '' or ""
print("Hello"+" "+"Students")

Hello Students

### String Repetition

* "*"operator can be used with string for repetition
Question: Write a program to print "Hello" 5 times using * operator

In [ ]:
"Hello"*5

'HelloHelloHelloHelloHello'

### *end* parameter in print can be used to change the chracter that ends statement of print function. It is \n by default

In [ ]:
print("Line 1")
print("Line 2")

Line 1
Line 2

In [ ]:
print("Line 1", end ="Ok done")
print("Line 2")

Line 1Ok doneLine 2

In [ ]:
print("Line 1", end =",")
print("Line 2")

Line 1,Line 2

### *sep* parameter in print: The separator between the arguments to print() function in Python is space by default (softspace feature) , which can be modified and can be made to any character, integer or string as per our choice.

In [ ]:
print("Hello","Students","GEC","Surat")

Hello Students GEC Surat

In [ ]:
print("Hello","Students","GEC","Surat",sep=",")

Hello,Students,GEC,Surat

## Variables
variables are memory locations that holds some data(information). variables are suppose to have unique names.
1. variable name should be meaningful
2. variable name can have alphabets, numbers or _ (underscore)
3. variable name must start with alphabet or _ (underscore)
4. Variable name cannot be  a python keyword. Following are the python keywords 

The keywords are some predefined and reserved words in python that have special meanings. Keywords are used to define the syntax of the coding. The keyword cannot be used as an identifier, function, and variable name. All the keywords in python are written in lower case except True and False. Python Keywords are:

![image.png]()

## Operators: operators are used to perform mathematical or logical operations on your data.
= is called assignemnet operator. it assigns value from rhs to lhs.

In Python, every value has its own python data type. The classification of data items or to put the data value into some sort of data category is called Data Types. It helps to understand what kind of operations can be performed on a value.

```
Syntax:
variable_name=data
```

Write a program to store your name in a variable. Don't forget to enclose your name with single quotes or double quotes

In [ ]:
x=5
#5=x

In [ ]:
name = "GEC Surat"
print("name")
print(name)# variable values can be printed by passing the variable's name without "" or ''

name
GEC Surat

Write a program to store your age in a variable

In [ ]:
age = 20
print(age)

20

In [ ]:
print("Your age is ",age)

Your age is  20

In [ ]:
college_name ="GEC Surat"
ClassName = "Python"
day = 1
print(college_name,ClassName,day)
print(name)

GEC Surat Python 1
GEC Surat

In [ ]:
college_name ="GEC Surat"
ClassName = "Python"
day = 1
print(college_name,ClassName,day)
name

GEC Surat Python 1

'GEC Surat'

Write a program to store your height in a variable

# Input Function

### Ask for user data

The input() function allows a user to insert a value into a program. input() returns a string value.

input function asks and takes some data from user.

you may or may not store it into a variable.
```
Syntax1:
input("Write your question here")

Syntax 2:
variable_name=input("Write your question here")
```

In [ ]:
input("Enter your name:")

Enter your name:GEC

'GEC'

In [ ]:
user_name = input("Enter your name:")
#input("Enter your name:")=user_name---- error 
print("Your name is:",user_name)

Enter your name:Bhoomika
Your name is: Bhoomika

In [ ]:
input("Enter your name:")=user_name

SyntaxError: ignored

# Type function

Type function can be used to get type of any identifier in python

```
Syntax: type(variable_name)
```

In [ ]:
name="GEC Surat Students"
age = 20
height=5.6
gender = True   # True=male
print(name,age,height,gender)
gender2=False
gender2

GEC Surat Students 20 5.6 True

False

In [ ]:
print(type(name))
print(type(age))
print(type(height))
type(gender2)

<class 'str'>
<class 'int'>
<class 'float'>

bool

In [ ]:
print("hello")

hello