<a href="https://colab.research.google.com/github/BhoomikaSheth/PythonBasicNotes/blob/main/Python_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **if, if else, if else ladder, nested if, loops-for, while**

# if Exercises:

Take values of length and breadth of a rectangle from user and check if it is square or not


Take two int values from user and print greatest among them.

A shop will give discount of 10% if the cost of purchased quantity is more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.

A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.

Take input of age of 3 people by user and determine oldest and youngest among them.

In [ ]:
person1_age=int(input("Enter your age person1:"))
person2_age=int(input("Enter your age person2:"))
person3_age=int(input("Enter your age person3:"))
# oldest
if person1_age>=person2_age and person1_age>=person3_age:
    print("person1 is oldest")
elif person2_age>=person1_age and person2_age>=person3_age:
    print("person2 is oldest")
else:
    print("person3 is oldest")

#youngest
if person1_age<=person2_age and person1_age<=person3_age:
    print("person1 is youngest")
elif person2_age<=person1_age and person2_age<=person3_age:
    print("person2 is youngest")
else:
    print("person3 is youngest")

Enter your age person1:40
Enter your age person2:30
Enter your age person3:20
person1 is oldest
person3 is youngest

A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
Ask user to enter marks and print the corresponding grade.


Write a program to print absolute vlaue of a number entered by user. E.g.-
INPUT: 1        OUTPUT: 1
INPUT: -1        OUTPUT: 1


A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user
Number of classes held
Number of classes attended.
And print
percentage of class attended
Is student is allowed to sit in exam or not.


Modify the above question to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

# Loops- While, for

### Loops are used to repeat a part of code multiple times.

### For loops are mostly used when you want to repeat some task/tasks for fixed number of time. or For loops are also widely used with sequences

### While loops are used when you want to repeate some tasks until some condiiton is met.



```
while(room_temp>20):
    fan="on"
    work2
    work3
    work4
print("bye")
```

### While Loop:
**Syntax of `while` loop:**
```python
while condition:
  #code
```

### For Loop:
**Syntax of `for` loop:**
```python
for i in range(1, 6):
  print(i)
```
**The range function:**

It is used to generate a range of numbers. 

**Syntax:** `range(start, end,interval)`

where,

- `start` (optional):  An integer which specifies from which position to start. Default is 0.
- `end` (required): An integer which specifies at which position to stop. This number is not included in the range.
- `interval` (optional): An integer which specifies how many values to skip after each iteration. Default is 1.

**For e.g:**
1. `range(0,6)` $\Rightarrow$ generates numbers from 0 to 5.
2.`range(6)` $\Rightarrow$ generates numbers from 0 to 5.
3. `range(1,11)` $\Rightarrow$ generates numbers from 1 to 10.
4. `range(11)` $\Rightarrow$ generates numbers from 0 to 10.
5. `range(0,6,2)`$\Rightarrow$  generates 0,2,4
6. `range(10,0,-2)`$\Rightarrow$ generates 10,8,6,4,2  

### For Loop with sequence:
**Syntax of `for` loop:**
```python
for i in sequence:
  print(i)
```

In [ ]:
seq="python"
for var in seq:
    print(var)
type(seq)

p
y
t
h
o
n

str

In [ ]:
seq=("python","da")   # tuple
for var in seq:
    print(var)
type(seq)

python
da

tuple

In [ ]:
seq=[23,78.98,"python"]
for var in seq:
    print(var)

23
78.98
python

 Print First 10 natural numbers using for loop

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

write a program to print all even numbers from 0 to 50 using for loop

In [ ]:
for i in range(0,51,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

write a program to print all multiples of 5 from 100 to 0

In [ ]:
for i in range(100,-1,-5):
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0

Accept number from user and calculate the sum of all number from 1 to a given number using while loop

In [ ]:
num=int(input("Enter any number between 1 to 100:"))
result = 0
count = 1
while count <= num:
    result = result + count
    count = count + 1
result

Enter any number between 1 to 100:5

15

In [ ]:
num=int(input("Enter any number between 1 to 100:"))
result = 0
for i in range(1,num+1):
    result=result+i
result

Enter any number between 1 to 100:5

15

Print multiplication table of a given number

output format:num x count = product

num take from user as input

count will go from 1 to 10

product=1

In [ ]:
num=int(input("Enter a number to get its table:"))
for i in range(1,11):
    print(i*num)

Enter a number to get its table:5
5
10
15
20
25
30
35
40
45
50

In [ ]:
num=int(input("Enter a number to get its table:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

Enter a number to get its table:4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
num=int(input("Enter a number to get its table:"))
second_num=1
while second_num<=10:
    print(num,"x",second_num,"=",num*second_num)
    second_num=second_num+1

Enter a number to get its table:6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

 Write a Python program to construct the following pattern

1

22

333

4444

55555

666666

7777777

88888888

999999999

In [ ]:
for i in range(1,10):   # nested loops
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

 Write a Python program to construct the following pattern


22

4444

666666

88888888

In [ ]:
for i in range(1, 5):
  for j in range(i*2):
    print(i*2, end = "")
  print()

22
4444
666666
88888888

Write a Python program to count the number of even and odd numbers from a list of numbers

In [ ]:
l=[21,96,34,75,28,33,67]
odd_count=0
even_count=0
for num in l:
    if num%2==0:
        even_count=even_count+1
    else:
        odd_count=odd_count+1
print(odd_count,even_count)

4 3

In [ ]:
l=[]
for i in range(5):
    l.append(int(input("Enter number:")))
odd_count=0
even_count=0
for num in l:
    if num%2==0:
        even_count=even_count+1
    else:
        odd_count=odd_count+1
print(odd_count,even_count)

Enter number:45
Enter number:85
Enter number:64
Enter number:23
Enter number:21
4 1

Write a python program to count number of vowels in a given string

In [ ]:
string="python programming language"
vc=0 # vowel count
for el in string: #el is a variable (each letter)
    if el=="a" or el=="e" or el=="i" or el=="o" or el=="u":
        vc=vc+1
        print(el)
print(vc)

o
o
a
i
a
u
a
e
8

write a program to print:


```
*
**
***
****
*****
```



```
*****
*****
*****
*****
*****
```

In [ ]:
#*****
#*****
#*****
#*****
#*****

for rows in range(5):
    for cols in range(5):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [ ]:
#*
#**
#***
#****
#*****

for rows in range(5):
    for cols in range(5):
        print("*",end="")
    print()

Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

/ proper answer for division

% remainder

// answer without decimal point

In [ ]:
for i in range(1500,2701,1):
    if i%7==0 and i%5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695